Repository rbardini/sro: changes, and which lint-staged commands are due for each by the changed paths.
All: standard --fix, prettier --write

chore(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

fix(table): improve date formatting
  src/formatters/table.js
Due: standard --fix, prettier --write

refactor(api)!: replace callbacks with promises
  README.md
  bin/sro.js
  index.js
  src/formatters/index.js
  src/formatters/json.js
  src/formatters/pretty.js
  src/formatters/table.js
  src/sro.js
  src/track.js
  src/utils/apiRequest.js
  src/utils/checkDigit.js
  src/utils/normalizeEvent.js
  src/utils/normalizeItem.js
  src/utils/normalizeNumber.js
  src/validate.js
  test/models.js
  test/tracking.js
  test/validation.js
Due: standard --fix, prettier --write

Notes added by 'git notes add'
  d7f3338379c85bc6fdd41bf78ff48d3105b3c1cd
Due: none

docs(readme): update usage example
  README.md
Due: prettier --write

docs(readme): simplify usage example
  README.md
Due: prettier --write

fix(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e2fffb7406b6822dfde0a30168be69565497a13f
Due: none

chore(deps): update dependencies
  .github/workflows/main.yml
  .gitignore
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependencies
  .github/workflows/main.yml
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc.json
  README.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0357692e462ec12208db8077ed0a97f0acdac167
Due: none

fix(deps): update dependencies
  .github/workflows/main.yml
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3c7130616aa4f8d602228e6cdfccbbab758797cf
Due: none

Path conditions:
  standard --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{json,md})
